.odin-recipe {
    padding: 56px 0;
}

.odin-recipe__container h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

.odin-recipe__img-container {
    height: 400px;
}

.odin-recipe__img-container img {
    width: 400px;
    height: 100%;
}

.odin-recipe__container h3 {
    font-size: 24px;
}

.odin-recipe__description,
.odin-recipe__ingredients {
    margin: 16px 0;
}

.odin-recipe__ingredients ul, 
.odin-recipe__instruction ol {
    padding: 0 24px;
}

.odin-recipe__description p,
.odin-recipe__ingredients ul li, 
.odin-recipe__instruction ol li {
    font-size: 18px;
}

.odin-recipe__ingredients ul li, 
.odin-recipe__instruction ol li {
    margin-bottom: 4px;
}

.odin-recipe__ingredients ul li:last-child, 
.odin-recipe__instruction ol li:last-child {
    margin-bottom: 0;
}