header {
    box-shadow: 0px 1px 6px rgb(195, 195, 195);
}

.top-navigation ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.top-navigation ul li {
    margin-right: 16px;
}

.top-navigation a {
    display: inline-block;
    font-size: 18px;
    color: #111827;
    padding: 16px;
}

.top-navigation a:hover {
    background-color: #e3b261;
}