/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Odin recipes section */
.odin-recipes {
    padding: 50px 0;
}

.container {
    padding: 0 80px;
}

.odin-recipes__container {
    width: 450px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.odin-recipes__container h1 {
    font-size: 40px;
    color: #e3b261;
}

.odin-recipes__list {
    margin-top: 20px;
    font-size: 20px;
}

.odin-recipes__list li {
    margin-top: 16px;
}

.odin-recipes__list a {
    color: #111827;
    font-weight: 600;
}

.odin-recipes__list a:hover {
    text-decoration: underline;
}